@using Data_JobWeb.Entity;
@using FE_JobWeb.Others
@model List<JobSeekerNotification>
@{
    ViewData["Title"] = "Notification";
    Layout = "~/Views/Shared/_LayoutRecuiter.cshtml";
}


<div id="content">
    <div class="content-admin-main">

        <div class="twm-pro-view-chart-wrap">
            <div class="col-lg-12 col-md-12 mb-4">
                <div class="panel panel-default site-bg-white m-t30">
                    <h3>Grabwork thông báo</h3>

                    @if(Model.Count > 0)
                    {
                        foreach(JobSeekerNotification i in Model)
                        {
                            <a href="@Url.Action("NotificationForward","Home",new {id = i.Id, url = i.Title})">
                                <div class="user-notification mt-4">
                                    <div class="user-notification-item">
                                        @* <div class="user-notification-icon">
                                <img src="images/jobs-company/axon-active-logo.jpg" alt="">
                                </div> *@
                                        <div class="user-notification-info">
                                            <p><b>@i.Description</b></p>
                                            <span>@(i.IsCreatedAt.HasValue ? i.IsCreatedAt.Value.ToString("dd/MM/yyyy HH:mm") : "Error")</span>
                                        </div>
                                        @if(i.IsSeen == true)
                                        {
                                            <i class="feather-check" style="color: green;"></i>
                                        }
                                        else
                                        {
                                            <i class="feather-check" style="color: red;"></i>
                                        }
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
